---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Page Not Found - TanoC</title>
  </head>
  <body>
    <h1>TanoC</h1>
    <h2>404 Not Found</h2>
    <a href="/">Top</a>
  </body>
</html>
