---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TanoC</title>
  </head>
  <body>
    <h1>TanoC</h1>
    <a href="/posts/1">Posts</a>
  </body>
</html>
