---
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"

const { title } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!--
      https://favicon.io/favicon-generator/
      Text: tc
      Background: Rounded
      Font Family: Noto Sans
      Font Variant: Regular 400 Normal
      Font Size: 110
      Font Color: #FFFFFF
      Background Color: #43A047
    -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
  </head>
  <style>
    .body {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .main {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
    }
  </style>
  <style is:global>
    a {
      color: #43A047;
    }
  </style>
  <body class="body">
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
