---
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"

const { frontmatter } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} - TanoC Blog</title>
  </head>
  <style>
    .body {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .main {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
    }

    .article {
      margin: 8px;
    }
  </style>
  <style is:global>
    a {
      color: #43a047;
    }

    pre {
      padding: 8px;
    }

    :not(pre) > code {
      padding: 0.125rem 0.25rem;
      background: #f1f1f1;
      border-radius: 0.25rem;
    }
  </style>
  <body class="body">
    <Header />
    <main class="main">
      <article class="article">
        <h1>{ frontmatter.title }</h1>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
